@font-face {
  font-family: "m3x6";
  src: url("../../../public/fonts/m3x6.ttf") format("truetype");
}

:root {
  --transparentGreen: rgb(83, 142, 82, 0.8);
  --transparentWhite: rgb(255, 255, 255, 0.6);
}

html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "m3x6", sans-serif;
  font-size: x-large;
  margin: 0px;
  text-align: center;
  background-image: url("../../../public/images/background.png");
  background-size: cover;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}

/* explore style for filtering and searching map markers */
.aboveMap {
  z-index: 10;
  position: absolute;
  left: 30px;
  top: 30px;
}

/* overwritten style for the google maps info window */
.gm-style .gm-style-iw-c {
  width: 450px !important;
  height: 420px !important;
  background-color: var(--transparentWhite) !important;
  border-radius: 0px;
}

.gm-style-iw-d {
  all: unset;
}

/* styling for post card display */
.postHeader {
  text-align: left;
  transition: all 0.2s ease-in-out;
}

.postHeader:hover {
  transform: translate(7px, 7px);
}

.postCard {
  min-width: 350px;
  max-width: 450px;
  min-height: 400px;
}

/* styling for profile information */
.profileCard {
  width: 450px;
}
