.nav {
  /* flex box layout */
  align-items: center;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.navLink {
  display: inline-block;
  text-align: center;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.navLink:hover {
  background-color: #008183;
}

.navImg {
  width: 55px;
}
