.nav {
  padding-top: 10px;
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 80%;
}

.navLink {
  display: inline-block;
  text-align: center;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.15s ease-in-out;
}

.navLink:hover {
  transform: scale(1.3);
}

.navImg {
  width: 55px;
}
